<h1>Services#index</h1>
<p>Find me in app/views/services/index.html.erb</p>
<p>
  this is where i'll create the page for services
</p>
<h1>Service Providers</h1>


<%= form_tag(controller:"users", action: "search", :method => 'post') do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>




<div id="map" style="width: 70%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>

