
<p>Hey guys, these are your search results</p>

<% @service_providers.each do |service| %>

  <%= service.name %>
<br>
  <% if service.user %>
     Name: <%= service.user.first_name %>
          <%= service.user.last_name %>
      <br>
     Email: <%= service.user.email %>
      <br>
      Address:  <%= service.user.address%>
      <br>
     Phone Number: <%= service.user.phone %>
      <br>
  <% else %>
      <p>No user found</p>
  <% end %>
<% end %>
