<br><br><br><br><br>

<div class="providers">




<%= @service_providers.each do |service_provider| %>

  <%= service_provider.name %>
<br>
 Name: <%= service_provider.user.first_name %>
      <%= service_provider.user.last_name %>
  <br>
 Email: <%= service_provider.user.email %>
  <br>
  Address:  <%= service_provider.user.address%>
  <br>
 Phone Number: <%= service_provider.user.phone %>
  <br>


<% end %>

</div>
