<div class="banner" style="background-image: url('<%= image_path ("utensils.jpg") %>');">
  <div class="banner-content">
<div class="heading">
  <h1 class="title">iDo</h1>
  <h3 class="tag_line">Any Problem Served</h3>
</div>


  <%#= simple_form_for @service do |f| %>
      <p class="searched-service">What service do you seek?</p>
      <%= form_tag(controller:"services", action: "index") do %>
  <%= label :service_name, "" %>
  <%= text_field_tag :search_term, params[:search_term] %>

  <%= submit_tag "Search" %>
<% end %>

  <%#= f.input :name %>
  <p class= "searched-location">What is your location?</p>





  </div>
</div>

<div class="wrapper-how-it-works">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <i class="fa fa-search" aria-hidden="true"></i>
      <p class="how-it-works"> Search the service</p>
    </div>
    <div class="col-xs-12 col-sm-4">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <p class="how-it-works">Contact & Book the service provider</p>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    <p class="how-it-works">Get served</p>
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
</div>
